.slider
  %ul.items
    %li
      %img{:alt => "", :src => "images/img1.jpg"}/
      -#
        .banner
          .wrapper
            %span
              “We're
              the North Gardendale
          .wrapper
            %strong
              church
              of Christ”
    %li
      %img{:alt => "", :src => "images/img2.jpg"}/
      -#
        .banner
          .wrapper
            %span “In a building
          .wrapper
            %strong a CHURCH building”
    %li
      %img{:alt => "", :src => "images/img3.jpg"}/
      -#
        .banner
          .wrapper
            %span “Twice on Sunday
          .wrapper
            %strong and once on Wednesday”
  %ul.pagination
    %li#banner1
      %a{:href => "#"}
        About Us
        %span Who We Are
    %li#banner2
      %a{:href => "#"}
        Location
        %span Where we meet
    %li#banner3
      %a{:href => "#"}
        Services
        %span When we meet
.ic
/ / header
/ content
%article#content
.wrapper
  .box1
    .line1
      .line2.wrapper
        %section.col1
          %h2
            %strong> W
            hat
            %span To Expect
          .pad_bot1
            %figure
              %img{:alt => "", :src => "images/page1_img1.jpg"}/
          We hope you'll visit our services sometime soon
          %br
          %br
          %a.button1{:href => "/services"} Read More
        %section.col1.pad_left1
          %h2.color2
            %strong> B
            ible
            %span Studies
          .pad_bot1
            %figure
              %img{:alt => "", :src => "images/page1_img2.jpg"}/
          We have bible classes from ages 2 to adults
          %br
          %br
          %a.button1.color2{:href => "/bible_studies"} Read More
        %section.col1.pad_left1
          %h2.color3
            %strong> R
            eading
            %span Plans
          .pad_bot1
            %figure
              %img{:alt => "", :src => "images/page1_img3.jpg"}/
          Links to Bible lessons, sermons, bulletins and helpful websites
          %br
          %br
          %a.button1.color3{:href => "/reading_plans"} Read More
.wrapper
  %h3 Daily Verse
  %p.quot
    For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life.
    John 3:16
    %img{:alt => "", :src => "images/quot2.png"}/
.wrapper
  .box2
    .line1
      .line2.wrapper
        = render "sermons"
:javascript
  $(document).ready(function(){
    $('.slider')._TMS({
      preset:'zabor',
      easing:'easeOutQuad',
      duration:800,
      pagination:true,
      banners:true,
      waitBannerAnimation:false,
      slideshow:6000,
      bannerShow:function(banner){
        banner
          .css({right:'-700px'})
          .stop()
          .animate({right:'0'},600, 'easeOutExpo')
      },
      bannerHide:function(banner){
        banner
          .stop()
          .animate({right:'-700'},600,'easeOutExpo')
      }
      })
      $('.pagination li').hover(function(){
        if (!$(this).hasClass('current')) {
          $(this).find('a').stop().animate({backgroundPosition:'0 0'},600,'easeOutExpo', function(){$(this).parent().css({backgroundPosition:'-20px 0'})});
        }
      },function(){
        if (!$(this).hasClass('current')) {
          $(this).css({backgroundPosition:'0 0'}).find('a').stop().animate({backgroundPosition:'-250px 0'},600,'easeOutExpo');
        }
    })
  })
