%article#content.tabs
  .wrapper
    .box1
      .wrapper
        %section.col4
          %h2
            %strong>= @page.name[0]
            =@page.name[1..-1]
          %div
            %figure.left.marg_right1
              -#%img#image{:alt => "", :src => @page.image || "images/page3_img1.jpg", "data-mercury" => "image"}/
            #body=@page.body.try(:html_safe)
