%article#content.tabs
  .wrapper
    .box1
      .wrapper
        %section.col4
          %h2
            %strong>= @page.name[0]
            =@page.name[1..-1]
          %div
            %figure.left.marg_right1
              %img#image{:style => "width: 200px; height: 200px;", :alt => "", :src => @page.image || "images/page3_img1.jpg"}/
            #body=@page.body.try(:html_safe)
