%article#content.tabs
  .wrapper
    .box1
      .wrapper
        %section.col4
          %h2
            %strong>= @sermon.title[0]
            =@sermon.title[1..-1]
          %div
            %figure.left.marg_right1
            #body= @sermon.body.try(:html_safe)
            %audio{:controls => ""}
              %source{:src => @sermon.audio.to_s, :type => "audio/mpeg"}
            = link_to "Download", @sermon.audio.to_s, class: "button2"
