/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
.col1, .col2, .col3, .cols {float:left;}
.col1 {margin:0 6px;width:264px;position:relative}
.col2 {margin:0 6px;width:560px;position:relative}
#page3 .col1 {width:870px}
#page4 .box2 .col1 {width:870px}

table {
}

td {
  padding-left: 20px !important;
}
